<nav class="menu_secondary">
	<% for (var link in site.data.menu) { %>
		<% if (site.data.menu[link].group === "secondary") { %>
	  		<a class="btn_hollow_big" href="<%= site.data.menu[link].link %>"><%= site.data.menu[link].name %></a>
		<% } %>
	<% } %>
</nav>
