<nav class="menu_primary">
	<% for (var link in site.data.menu) { %>
		<% if (site.data.menu[link].group === "primary") { %>
	  		<a href="<%= site.data.menu[link].link %>">
	  			<div class="menu_icon"><%- site.data.menu[link].icon %></div>
	  			<div><%= site.data.menu[link].name %></div>
	  		</a>
		<% } %>
	<% } %>
</nav>
