<nav class="menu_tertiary">
	<ul>
	<% for (var link in site.data.menu) { %>
		<% if (site.data.menu[link].group === "tertiary") { %>
	  		<li><a href="<%= site.data.menu[link].link %>"><%= site.data.menu[link].name %></a></li>
		<% } %>
	<% } %>
	</ul>
</nav>
