/* =============== button =============== */	
.btn_solid
	@extend .btn
	font-size: 12px
	display: inline-block
	color: #fff
	background: #ccc
	border-radius: 5px
	&:hover
		background: dvdo
		
.btn_solid_big
	@extend .btn
	font-size: 14px
	display: block
	margin-top: 0.5em
	color: #fff
	background: dvdo
	border-radius: 5px
	&:hover
		background: red
	@media (min-width: 500px)
		display: inline-block

.btn_hollow_big
	@extend .btn
	font-size: 14px
	display: block
	margin-top: 0.5em
	color: #fff
	border: 1px solid #fff
	&:hover
		border-color: #fff
		color: #fff
		background: red
	@media (min-width: 500px)
		display: inline-block