.p3
	@extend .grid
	@media (min-width: 801px)
		grid-template-columns: repeat(3,1fr)
		grid-column-gap: 1.5em

.p3_item
	background: #fff
	transition: all 0.5s ease
	overflow: hidden
	box-shadow: 0px 2px 2px darken(dvdo,50%)
	&:hover
		box-shadow: 0px 5px 15px darken(dvdo,50%)
	.preview_img
		height: 250px
		overflow: hidden
	.preview_inner
		width: 100%
		height:100%
		transition: all 0.5s ease;
		&:hover
			transform: scale(1.2);
		img
			width:100%
			height: 100%
			object-fit: cover
	h3
		font-size: 0.9em
		text-transform: uppercase
		text-align: center
		padding: 1em
		color: dvdo
	a
		@extend .grid
		grid-gap: 0 0
		@media (min-width: 500px) and (max-width: 800px)
			grid-template-columns: 1fr 1fr
			h3
				text-align: left
.home_list, .news_list
	padding: 1em 0
	@media (min-width: 500px) and (max-width: 800px)
		padding: 2em 0
	@media (min-width: 801px)
		padding: 3em 0
		
.home_list h2
		color: #fff !important
.news_list
	.p3_item
		box-shadow: 0px 2px 3px darken(green,20%)
		&:hover
			box-shadow: 0px 5px 15px darken(green,20%)
.archive_list
	padding: 3em 0
	.acv_date
		font: 16px fonth
		color: #ccc
		text-align: center
		padding: 0 0 0.5em
		@media (min-width: 500px) and (max-width: 800px)
			text-align: left
	.p3_item
		box-shadow: 0px 0px 0px darken(#aaa,20%)
		&:hover
			box-shadow: 0px 5px 15px darken(#aaa,20%)