/* ================== trang services ================== */
.srv_page
	border-top 1rem solid dvdo 	
.srvgroup
	@extend .grid
	.srv_left
		margin: 15em 0 0
		background: #fff
		color: dvxanh
		h2
			padding-top: 1em
			font-size: 1em
			color: dvdo
		p
			padding: 1em 0
	.srv_right
		display: none
	@media (min-width: 360px) and (max-width: 800px)
		grid-template-columns: 1fr 1fr
		grid-gap: 0 0
		.srv_left
			padding: 1em
			background: alpha(dvxanh,0.8)
			color: #fff
			h2
				color: #fff
		.srv_right
			display: block
	@media (min-width: 801px)
		grid-template-columns: 1fr 1fr
		grid-gap: 0 0
		.srv_left
			padding: 2em
			background: alpha(dvxanh,0.8)
			color: #fff
			h2
				color: #fff
				font-size: 1.5em
		.srv_right
			display: block

.srvgroup_item
	padding: 2em 0
	font: 14px fonth
	text-transform: uppercase
	line-height: 150%
	.nrm_text
		font-size: 90%
		color: white

/* ================== hình ảnh của các trang dịch vụ ==================*/

.images_db
	text-align: center
	padding: 3em 0
	.g4
		@extend .group4
	.g4_item
		background: #fff
		img
			width: 100%
			transition: all .3s ease
		&:hover
			img
				box-shadow: 0px 5px 10px #aaa
				transform: translateY(-5px)
	.img_top
		width: 100%
		border: 3px solid #fff
		border-bottom: 15px solid #fff
		box-shadow: 0px 2px 3px #aaa
		margin: 1em 0
	h3
		color: dvdo
		padding: 2em 0 1.5em
	h3:first-of-type
		padding-top: 0