.thungo, .lichsu, .mangluoi
	h3
		text-transform: uppercase
		color: dvdo !important
		padding: 1em 0
	.bigtitle
		color: darken(green,20%)
		font-size: 2em
		padding-top: 0.5em
	p
		text-align: justify
		padding: 0.5em 0
.thungo
	p
		color: dvdo
	@media (min-width: 500px) and (max-width: 800px)
		background: #fff
		padding: 2em 5em 5em
	@media (min-width: 801px)
		background: #fff
		padding: 3em 8em 5em
	
.lichsu, .mangluoi
	@extend .group2
	@media (min-width: 600px)
		grid-column-gap: 1.5em
		grid-row-gap: 1.5em
		grid-template-columns: repeat(2,1fr)
.go-up
	display: none
	text-align: center
	position: fixed
	width: 100%
	background: dvdo
	bottom: 0
	a
		display: block
		color: #fff
		padding: 1em
.mangluoi, .lichsu
	padding-bottom: 3em