.mapbox, .ct_group1
	@extend .group2

.ct_group1
	padding-top: 3em

.ct_group2
	@extend .group3
	padding: 1.5em 0 3em
	br.tmp
		display: none
	@media (min-width: 500px) and (max-width: 800px)
		grid-template-columns: 1fr
		grid-column-gap: 1em
	@media (min-width: 801px)
		br.tmp
			display: block

.ctgroup1_item, .ctgroup2_item
	background: #fff
	text-align: center
	padding: 2em 0
	box-shadow: 0px 2px 2px darken(dvdo,30%)
	h3
		font-size: 0.8em
		color: dvdo
	p
		padding-top: 1em
		
.mapgroup
	padding: 3em 0