green = #eafaf1
yellow =  #feffe1
blue =  #e1edff
brown =  #ecdbd8
aqua =  #defffe
orange =  #ffe6d0
lavender =  #f4dafe
gray =  #f4f7f7
dvdo = #9C213C
dvxanh = #133729

fontb = 'IBM Plex Serif', serif
fonth = 'IBM Plex Sans', sans-serif

sm = 600px
md = 800px
bg = 1024px
lg = 1280px
hg = 1440px

*, *:before, *:after
	box-sizing border-box

.uppercase
	text-transform: uppercase
.center
	text-align: center
hr
	border: none
	border-top: 1px solid #ccc
	height: 1px
	margin: 0

body
	font: 16px fontb
	
.hfull
	min-height: 100vh
.hhalf
	min-height: 50vh
		
em
	font-style italic
		
.section_title
	text-align: center
	padding-bottom: 1em
	color: dvdo
	font-size: 1em
	@media (min-width: 600px) and (max-width: 800px)
		font-size: 1.2em;
	@media (min-width: 801px)
		font-size: 1.5em;

.container
	width: 90%
	max-width: 1140px
	margin: 0 auto
	
h1, h2, h3, h4, h5, h6
	font-family: fonth

a
	text-decoration: none
	transition: all .3s ease

.btn
	text-transform: uppercase
	text-align: center
	transition: all .3s ease
	padding: 1em
	font-family: fonth
.bg_green
	background: green
.bg_blue
	background: blue
.bg_yellow
	background: yellow
.bg_xanh
	background: dvxanh
.bg_do
	background: dvdo

.is_flex
	display flex
	flex-flow row wrap
	margin -0.5rem
	.flex_item
		width 100%
		margin 0.5rem
		flex 1 1 auto
		@media (min-width sm)
			width 25%
		img
			width 100%
.flex_card
	display flex
	flex-direction column
	background white
	text-align center
	padding-bottom 1rem
	h3
		color dvdo
		padding 1rem 0.5rem 0.5rem
	.card_title
		text-transform uppercase
		font-size 0.8rem
	p
		padding 0 1rem 1rem
		margin-bottom auto
	.srv_btn
		font 0.8rem fonth
		text-transform uppercase
		a
			display inline-block
			background darkgray
			padding 0.5rem 1rem
			color white
			&:hover
				background lightgray
	.preview_img
		height: 200px
		overflow: hidden
		@media (min-width md)
			height 250px
	.preview_inner
		width: 100%
		height:100%
		transition: all 0.5s ease;
		&:hover
			transform: scale(1.2);
		img
			width:100%
			height: 100%
			object-fit: cover