.grid
	display: grid
	grid-column-gap: 1em
	grid-row-gap: 1em
	grid-template-columns: 1fr


/* group 2 */
/* hiển thị 1 cột trên smartphone & tablet dọc */
/* hiển thị 2 cột trên tablet ngang & desktop */

.group2
	@extend .grid
	@media (min-width: 801px)
		grid-column-gap: 1.5em
		grid-row-gap: 1.5em
		grid-template-columns: repeat(2,1fr)

/* group 3 */
/* hiển thị 1 cột trên smartphone */
/* hiển thị 3 cột trên tablet & desktop */
.group3
	@extend .grid
	@media (min-width: 500px) and (max-width: 800px)
		grid-template-columns: repeat(3,1fr)
		grid-column-gap: 1em
	@media (min-width: 801px)
		grid-template-columns: repeat(3,1fr)
		grid-column-gap: 1.5em

/* group 4 */
/* hiển thị 1 cột trên smartphone */
/* hiển thị 2 cột trên smartphone ngang và tablet dọc */
/* hiển thị 4 cột trên tablet ngang và desktop */
.group4
	@extend .grid
	@media (min-width: 500px) and (max-width: 800px)
		grid-template-columns: repeat(2,1fr)
	@media (min-width: 801px)
		grid-template-columns: repeat(4,1fr)
		grid-column-gap: 1.5em
		grid-row-gap: 1.5em