/* ================== header ================== */

#site_header
	padding-top 1rem
	position relative
	overflow hidden
	background alpha(dvxanh,0.2)

.brand
	padding-top: 3em
	a
		color: #fff
.logo
	width: 360px
	height: 60px
	//background: #fff
	//border: 3px solid #fff
	//border-radius: 2px
	img
		width: 65%;
		padding-bottom: 1rem;
.logo, .brandname
	display: inline-block
.brandname
	padding-left: 0.5rem
	font-size 1.6rem
	font-weight 600

.menugrid
	@extend .grid
	@media (min-width: 800px)
		grid-template-columns: repeat(2,1fr)
		grid-gap: 0 0

@import "_inc/navigator"
@import "_inc/khuyenmai"
	
/* thông tin tóm tắt trên trang giới thiệu */
.home_intro
	display: none
	background: dvdo
	padding 0 0 2em
	p
		text-align: center
	@media (min-width: 750px) and (max-width: 800px)
		display: block
		p
			font-size: 1.1em
			color: #fff
			padding: 3em 2em 1em
	@media (min-width: 801px)
		display: block
		.mshow
			display: none
		p
			font-size: 1.2em
			color: #fff
			padding: 3em 5em 1em
	.menu_secondary
		text-align: center
.down_arrow
	position: absolute
	width: 100%
	bottom: 5%
	text-align: center
	a
		color: #fff
		animation: iconAnimation 2s linear infinite 0s
	.mshow
		font-size: 0.8em
		padding-bottom: 1em
	@media (min-width:500px)
		.mshow
			display: none
	
@keyframes iconAnimation 
	0%
		opacity: 0.2

	50%
		opacity: 1

	100% 
		opacity: 0.2
