.khuyenmai
	display: none
	background: dvdo
	text-align: center
	color: #fff
	font: 1.5rem fonth
	p
		text-transform: uppercase
		padding: 5rem
	@media (min-width: 740px)
		display: block

	
/* thông tin tóm tắt trên trang giới thiệu 
.home_intro
	display: none
	background: dvdo
	padding 0 0 2em
	p
		text-align: center
	@media (min-width: 750px) and (max-width: 800px)
		display: block
		p
			font-size: 1.1em
			color: #fff
			padding: 3em 2em 1em
	@media (min-width: 801px)
		display: block
		.mshow
			display: none
		p
			font-size: 1.2em
			color: #fff
			padding: 3em 5em 1em
	.menu_secondary
		text-align: center
*/