.client_comm
    text-align center
    padding 3rem 0
    .client_comment
        color dvdo 
        font-size 1.3rem
        font-style italic
        padding 0 2rem
        padding-bottom 1rem
    .client_name
        color grey