.menu_primary
	background: #fff
	@extend .grid
	grid-template-columns: repeat(2,1fr)
	grid-gap: 1px 1px
	text-align: center
	font: 0.8rem fonth
	text-transform: uppercase
	.menu_icon
		font-size: 3rem
	a
		display: block
		background: dvdo
		color: #fff
		padding: 1em 0
	@media (min-width: 500px) and (max-width: 800px)
		grid-template-columns: repeat(4,1fr)
		.menu_icon
			font-size: 2rem
		a
			padding: 1rem 0
	@media (min-width: 801px)
		grid-template-columns: repeat(4,1fr)
		.menu_icon
			font-size: 2.4rem
			padding-bottom 0.2rem
		a
			padding: 2rem 0