.post_top
	background: dvdo
	color: #fff
	font: 14px fonth
	text-transform: uppercase
	a
		padding: 1em
		display: inline-block
		color: #fff
		&:hover
			background: red
.post_header
	text-transform: uppercase
	padding: 1em 0
	@media (min-width: 740px)
		text-align: center
		padding: 2em 3em
		font-size: 1.5em
	.post_date
		color: #ccc
		font-size 1.2rem
		padding 1rem 0 0.5rem
.post_content
	padding: 1em 0
	img
		max-width: 100%
	p
		font-size 1.1rem
		padding: 1em 0
	p:first-of-type
		font-size: 1.2rem
		color: dvdo
	.tac-gia
		text-align right
// youtube
	.video-container
		position relative
		overflow hidden
		width 100%
		margin-bottom 2rem
		&::after
			padding-top 56.25%
			display block
			content ''
		iframe
			position absolute
			top 0
			left 0
			width 100%
			height 100%


	@media (min-width: 740px) and (max-width: 1100px)
		background: #fff
		padding: 3em 5em
		p:first-of-type
			font-size: 1.5em
			color: dvdo
	@media (min-width: 1101px)
		background: #fff
		padding: 5em 10em
		p
			font-size: 1.2em
		p:first-of-type
			font-size: 1.5em
			color: dvdo
.post_footer
	background: yellow
	padding: 2em
	text-align: center
	
/*
	share buttons on post footer
	from add to any service
*/

#share_btn_center
	padding-top: 0.5em
	display: flex
	justify-content: center
	
/*
	đánh số trang của trang tin tức
	hiển thị khi tổng số hiển thị lớn hơn 12 bài
*/

#page-nav
	text-align: center
	text-transform: uppercase
	background: dvdo
	padding: 2em 0
	.page-number, .extend
		font: 12px fonth
		display: inline-block
		margin: 2px
		padding: 0.5em 1em
		border: 1px solid #fff
		color: #fff
		&:hover
			background: red
		@media (min-width:600px)
			font-size: 16px
	.current
		background: darken(dvdo,15%)
		