.footer_content
    padding-top 2rem
.footer_menu
    display flex
    border-bottom 1px solid white
    .footer_panel
        width 50%
        padding 1rem 0
        flex 1 1 auto
        font-family fonth
        text-transform uppercase
        h3
            padding-bottom 0.5rem
        li
            padding 0.5rem 0
            border-bottom 1px dotted teal
            font-size 0.8rem