.cb-slideshow, .cb-slideshow:after
	position: absolute
	width: 100%
	height: 100%
	top: 0px
	left: 0px
	z-index: -1

.cb-slideshow:after
	content: ''
	background: transparent url('/css/pattern.png') repeat top left

.cb-slideshow li span
	width: 100%
	height: 100%
	position: absolute
	top: 0px
	left: 0px
	color: transparent
	background-size: cover
	background-position: 50% 50%
	background-repeat: none
	opacity: 0
	z-index: -1
	animation: imageAnimation 36s linear infinite 0s

.cb-slideshow li div
	z-index: 1000
	position: absolute
	bottom: 20%
	left: 0px
	width: 100%
	text-align: center
	opacity: 0
	animation: titleAnimation 36s linear infinite 0s

.cb-slideshow li div h3
	font-size: 50px
	padding: 0
	color: alpha(#fff,0.8)
	@media (min-width: 500px) and (max-width: 800px)
		font-size: 60px
	@media (min-width: 801px)
		font-size: 90px
.cb-slideshow li:nth-child(1) span
	background-image: url('https://source.unsplash.com/1500x900/?flower')
.cb-slideshow li:nth-child(2) span
	animation-delay: 6s
.cb-slideshow li:nth-child(3) span
	animation-delay: 12s
.cb-slideshow li:nth-child(4) span
	animation-delay: 18s
.cb-slideshow li:nth-child(5) span
	animation-delay: 24s
.cb-slideshow li:nth-child(6) span
	animation-delay: 30s
	
.cb-slideshow li:nth-child(2) div
	animation-delay: 6s;
.cb-slideshow li:nth-child(3) div
	animation-delay: 12s;
.cb-slideshow li:nth-child(4) div
	animation-delay: 18s;
.cb-slideshow li:nth-child(5) div
	animation-delay: 24s;
.cb-slideshow li:nth-child(6) div
	animation-delay: 30s;

/* image animation */

@keyframes imageAnimation 
	0%
		opacity: 0
		animation-timing-function: ease-in

	8%
		opacity: 1
		transform: scale(1.05)
		animation-timing-function: ease-out

	17%
		opacity: 1
		transform: scale(1.1)

	25%
		opacity: 0
		transform: scale(1.1)

	100% 
		opacity: 0

/* title animation */

@keyframes titleAnimation 
	0%
		opacity: 0
		transform: translateY(200px)

	8%
		opacity: 1
		transform: translateY(0px)

	17%
		opacity: 1
		transform: scale(1)

	19% 
		opacity: 0
	25%
		opacity: 0
		transform: scale(10)

	100% 
		opacity: 0