.sticky_item
    text-align center
    .sticky_header
        font-size 2rem
        padding 2rem 0 1rem
        text-transform uppercase
    img
        max-width 100%
    .sticky_description
        font-size 1.5rem
    a
        display inline-block
        background: dvdo 
        color white
        padding 1rem 2rem
        font 0.9rem fonth
        text-transform uppercase
        margin 1rem 0 3rem
        border-radius 5px
        &:hover
            background red
