@import "_inc/reset"
@import "_inc/general"
@import "_inc/grid"
@import "_inc/slideshow"
@import "_inc/button"
@import "_inc/header"
@import "_inc/content_intro"
@import "_inc/content_group"

footer#site_footer
	background: dvxanh
	padding: 0 0 5em
	color: #fff
	a
		color: #ccc
		&:hover
			color: #fff




/* ================== page content ================== */
.content_top
	color: dvdo
	text-align: justify
	border-top: 1em solid dvdo
	font-size: 1.2em
	padding: 1em 0
	@media (min-width: 640px)
		background: #eee
		font-size: 1.2em
		padding: 3em
		text-align: center
		
.content_group
	@extend .grid
	.content_left
		h3
			text-transform: uppercase
			padding-top: 1em
		p
			padding: 0.5em 0
			font-size: 1.1em
			line-height: 1.5
			text-align: justify
	.content_right
		img
			width: 100%
		h3
			color: dvdo
			padding-top: 1em
		h3:first-of-type
			padding-top: 0
		h4,h5
			padding-top: 2em
	@media (min-width: 640px)
		grid-gap: 0 0
		grid-template-columns: 1fr 1fr
		.content_left
			padding-right: 2em
		.content_right
			display: block
			

			


@import "_inc/content_services"
@import "_inc/content_contact"
@import "_inc/modul_client"
@import "_inc/modul_srv"
@import "_inc/post"
@import "_inc/site_footer"
@import "_inc/sticky"