<section class="gray images_db">
	<div class="container">

		<h3 class="uppercase">một số sản phẩm đã thực hiện</h3>

		<div class="g4">
			<% for (var item in site.data.imgs) { %>
			    <% if (site.data.imgs[item].group === "quangcao") { %>
			    	<a class="g4_item" href="<%= site.data.imgs[item].link %>" data-lightbox="<%= site.data.imgs[item].group %>"><img src="<%= site.data.imgs[item].link %>" alt="<%= site.data.imgs[item].group %>"></a>
			    <% } %>
			<% } %>
		</div>

	</div>
</section>