<section class="gray images_db">
	<div class="container">
		<h3 class="uppercase">phòng kinh doanh và điều độ</h3>
		<div class="g4">
			<% for (var item in site.data.imgs) { %>
			    <% if (site.data.imgs[item].group === "kinhdoanh") { %>
			        	<a class="g4_item" href="<%= site.data.imgs[item].link %>" data-lightbox="<%= site.data.imgs[item].group %>"><img src="<%= site.data.imgs[item].link %>" alt="<%= site.data.imgs[item].group %>"></a>
			    <% } %>
			<% } %>
		</div>

		<h3 class="uppercase">cơ sở vật chất, máy móc trang thiết bị và kho quỹ</h3>
		<div class="g4">
		<% for (var item in site.data.imgs) { %>
		    <% if (site.data.imgs[item].group === "vatchat") { %>
		        	<a class="g4_item" href="<%= site.data.imgs[item].link %>" data-lightbox="<%= site.data.imgs[item].group %>"><img src="<%= site.data.imgs[item].link %>" alt="<%= site.data.imgs[item].group %>"></a>
		    <% } %>
		<% } %>
		</div>

		<h3 class="uppercase">dịch vụ tiếp quỹ</h3>
		<div class="g4">
		<% for (var item in site.data.imgs) { %>
		    <% if (site.data.imgs[item].group === "tiepquy") { %>
		        	<a class="g4_item" href="<%= site.data.imgs[item].link %>" data-lightbox="<%= site.data.imgs[item].group %>"><img src="<%= site.data.imgs[item].link %>" alt="<%= site.data.imgs[item].group %>"></a>
		    <% } %>
		<% } %>
		</div>

		<h3 class="uppercase">dịch vụ kiểm đếm, đóng gói sản phẩm</h3>
		<div class="g4">
		<% for (var item in site.data.imgs) { %>
		    <% if (site.data.imgs[item].group === "kiemdem") { %>
		        	<a class="g4_item" href="<%= site.data.imgs[item].link %>" data-lightbox="<%= site.data.imgs[item].group %>"><img src="<%= site.data.imgs[item].link %>" alt="<%= site.data.imgs[item].group %>"></a>
		    <% } %>
		<% } %>
		</div>

		<h3 class="uppercase">tiếp quỹ atm</h3>
		<div class="g4">
		<% for (var item in site.data.imgs) { %>
		    <% if (site.data.imgs[item].group === "atm") { %>
		        	<a class="g4_item" href="<%= site.data.imgs[item].link %>" data-lightbox="<%= site.data.imgs[item].group %>"><img src="<%= site.data.imgs[item].link %>" alt="<%= site.data.imgs[item].group %>"></a>
		    <% } %>
		<% } %>
		</div>
	</div>
</section>