<section class="gray images_db">
	<div class="container">

		<h3 class="uppercase">hệ thống in flexo</h3>
		<h5 class="uppercase">Công ty Dịch vụ Agribank đầu tư và vận hành hệ thống in Flexo đầu tiên tại Hà Nội từ năm 1998</h5>
		<img class="img_top" src="https://res.cloudinary.com/bidong/image/upload/v1529725449/dvagribank/prt/flexo/in_flexo.jpg" alt="flexo printing machine">

		<div class="g4">
			<% for (var item in site.data.imgs) { %>
			    <% if (site.data.imgs[item].group === "flexo") { %>
			        	<a class="g4_item" href="<%= site.data.imgs[item].link %>" data-lightbox="<%= site.data.imgs[item].group %>"><img src="<%= site.data.imgs[item].link %>" alt="<%= site.data.imgs[item].group %>"></a>
			    <% } %>
			<% } %>
		</div>

		<h3 class="uppercase">máy móc thiết bị</h3>
		<div class="g4">
		<% for (var item in site.data.imgs) { %>
		    <% if (site.data.imgs[item].group === "maymoc") { %>
		        	<a class="g4_item" href="<%= site.data.imgs[item].link %>" data-lightbox="<%= site.data.imgs[item].group %>"><img src="<%= site.data.imgs[item].link %>" alt="<%= site.data.imgs[item].group %>"></a>
		    <% } %>
		<% } %>
		</div>

		<h3 class="uppercase">giám sát kỹ thuật in, hoàn thiện, phân loại sản phẩm và otk</h3>
		<div class="g4">
		<% for (var item in site.data.imgs) { %>
		    <% if (site.data.imgs[item].group === "giamsat") { %>
		        	<a class="g4_item" href="<%= site.data.imgs[item].link %>" data-lightbox="<%= site.data.imgs[item].group %>"><img src="<%= site.data.imgs[item].link %>" alt="<%= site.data.imgs[item].group %>"></a>
		    <% } %>
		<% } %>
		</div>

		<h3 class="uppercase">sổ sách, tạp chí</h3>
		<div class="g4">
		<% for (var item in site.data.imgs) { %>
		    <% if (site.data.imgs[item].group === "sosach") { %>
		        	<a class="g4_item" href="<%= site.data.imgs[item].link %>" data-lightbox="<%= site.data.imgs[item].group %>"><img src="<%= site.data.imgs[item].link %>" alt="<%= site.data.imgs[item].group %>"></a>
		    <% } %>
		<% } %>
		</div>

		<h3 class="uppercase">catalogue, lịch và các sản phẩm khác</h3>
		<div class="g4">
		<% for (var item in site.data.imgs) { %>
		    <% if (site.data.imgs[item].group === "lich") { %>
		        	<a class="g4_item" href="<%= site.data.imgs[item].link %>" data-lightbox="<%= site.data.imgs[item].group %>"><img src="<%= site.data.imgs[item].link %>" alt="<%= site.data.imgs[item].group %>"></a>
		    <% } %>
		<% } %>
		</div>

		<h3 class="uppercase">sản phẩm đặc biệt</h3>
		<div class="g4">
		<% for (var item in site.data.imgs) { %>
		    <% if (site.data.imgs[item].group === "spdacbiet") { %>
		        	<a class="g4_item" href="<%= site.data.imgs[item].link %>" data-lightbox="<%= site.data.imgs[item].group %>"><img src="<%= site.data.imgs[item].link %>" alt="<%= site.data.imgs[item].group %>"></a>
		    <% } %>
		<% } %>
		</div>
	</div>
</section>