<% for (var km in site.data.khuyenmai) { %>
	<% if (site.data.khuyenmai[km].enable) { %>

		<div class="container khuyenmai">

			<p><%= site.data.khuyenmai[km].title %></p>
		</div>

	<% } %>
<% } %>

