<!-- 
	modul các ý kiến nhận xét của khách hàng,
	tạm thời đóng cửa do chưa có jải fáp trình bày hợp lý

<section class="lavender">
	<div class="container">
		<p>module khách hàng làm slide các ý kiến nhận xét của khách</p>
	</div>
</section>

-->
<section>
	<div class="container client_comm">
		<div class="comm_item">
		<p class="client_comment">Chúng tôi  hoàn toàn an tâm và tin tưởng đối với những  sản phẩm in tại đây; những chứng chỉ có giá của Ngân hàng, đòi hỏi tính bảo mật cao, khó làm giả.</p>
		<p class="client_name"><strong>Nguyễn Thị Hoàng Anh</strong> - Phụ trách phòng  hành chính Agribank Chi nhánh Long Biên</p>
		</div>
		
	<div class="comm_item">
		<p class="client_comment">Lý do để chúng tôi lựa chọn Dịch vụ ở Công ty Dịch vụ Agribank. là trong cùng hệ thống có nhiều thuận tiện trong việc trao đổi thông tin, cũng như việc cùng trao đổi sản phẩm dịch vụ, tạo công ăn việc làm, góp phần  giúp nhau cùng phát triển.</p>
		<p class="client_name"><strong>Anh Tuấn</strong> - Phòng hành chính Agribank Chi nhánh Trung Yên</p>
		</div>
		
	<div class="comm_item">
		<p class="client_comment">Qua một thời gian hợp tác chúng tôi hoàn toàn tin tưởng vào chất lượng cũng như dịch vụ của Công ty. Rất mong công ty phát huy hết tiềm năng và thế mạnh của mình!</p>
		<p class="client_name"><strong>Anh Toàn</strong> - Agribank Chi nhánh Bắc Hà Nội</p>
		</div>
		
	<div class="comm_item">
		<p class="client_comment">Chúng tôi rất hài lòng và tin tưởng với kết quả đạt được sau hợp đồng đầu tiên, và chuẩn bị ký kết những hợp đồng tiếp theo với Công ty</p>
		<p class="client_name"><strong>Anh Thành</strong> - Agribank Chi nhánh Bách Khoa</p>
		</div>
		
	<div class="comm_item">
		<p class="client_comment">Chúng tôi đã in giấy tờ có giá tại đây, chất lượng tốt, thiết kế tinh xảo, đẹp. Tôi có thể hoàn toàn yên tâm khi giới thiệu  bạn tôi đến đây đặt hàng</p>
		<p class="client_name"><strong>Anh Phong</strong> - Agribank Chi nhánh Gia Lâm</p>
		</div>
		
	<div class="comm_item">
		<p class="client_comment">Trung tâm DVNQ phối hợp với Chi nhánh đã góp phần thực hiện cân đối thu – chi,  điều hòa vốn tiết giảm được chi phí dôi dư nguồn vốn. Góp phần giúp Chi nhánh cân đối tài chính thực hiện kinh doanh có hiệu quả.</p>
		<p class="client_name"><strong>Agribank Chi nhánh Hoàng Mai</strong> - </p>
		</div>
		
	<div class="comm_item">
		<p class="client_comment">Khi thực hiện giao dịch nộp, rút tiền mặt qua Trung tâm dịch vụ ngân quỹ đã giúp cho Chi nhánh được thuận lợi hơn, đáp ứng yêu cầu thu chi tiền mặt kịp thời cho khách, tiết kiệm được thời gian, chi phí vốn, chi phí vận chuyển và nguồn nhân lực trong công tác ngân quỹ</p>
		<p class="client_name"><strong>Agribank Chi nhánh Bình Triệu</strong> - </p>
		</div>
	</div>
</section>