<!--
	dùng modul tin tức là đủ đáp ứng nhu cầu,
	tạm đóng cửa

<section class="orange">
	<div class="container">
		<p>module gallery tập hợp các bài viết đánh dấu category = gallery</p>
	</div>
</section>

-->