<section class="bg_green">
	<div class="container srv_modul">
		<h2 class="uppercase section_title">các dịch vụ công ty cung cấp</h2>

		<div class="is_flex">

            <% for (var item in site.data.dichvu) { %>
            <div class="flex_item flex_card">
				<a href="<%= site.data.dichvu[item].to %>">
					<img src="<%= site.data.dichvu[item].image %>" alt=""/>
					<h3 class="uppercase"><%= site.data.dichvu[item].name %></h3>
				</a>
				<p><%= site.data.dichvu[item].desc %></p>
				<div class="srv_btn">
					<a href="<%= site.data.dichvu[item].to %>">xem chi tiết</a>
				</div>
            </div>
            <% } %>

		</div>
	</div>
</section>
