<% for (var item in site.data.contact) { %>
    <% if (site.data.contact[item].type === "mny") { %>
    	<img src="<%= site.data.contact[item].img %>" alt="<%= site.data.contact[item].name %>">
        <h4 class="uppercase"><%= site.data.contact[item].name %></h4>
        <p>
            Địa chỉ: <%= site.data.contact[item].address %> <br>
            Phòng hành chính: <strong><%= site.data.contact[item].dthanhchinh %></strong> <br>
            Phòng kinh doanh: <strong><%= site.data.contact[item].dtkinhdoanh %></strong> <br>
            Fax: <strong><%= site.data.contact[item].fax %> <br></strong>
            Email: <strong><%= site.data.contact[item].email %></strong> <br>
        </p>
        <br>
        <p><a class="btn_solid" href="<%= site.data.contact[item].relate %>">khách hàng truyền thống</a></p><br><br>
    <% } %>
<% } %>