<% for (var item in site.data.contact) { %>
    <% if (site.data.contact[item].type === "adv") { %>
    	<img src="<%= site.data.contact[item].img %>" alt="<%= site.data.contact[item].name %>">
        <h4 class="uppercase"><%= site.data.contact[item].name %></h4>
        <p>
            Địa chỉ: <%= site.data.contact[item].address %> <br>
            Điện thoại: <strong><%= site.data.contact[item].phone %></strong> <br>
            Fax: <strong><%= site.data.contact[item].fax %> <br></strong>
            Email: <strong><%= site.data.contact[item].email %></strong> <br>
        </p>
    <% } %>
<% } %>