<h3 class="uppercase">miền bắc</h3>

<% for (var item in site.data.contact) { %>
    <% if (site.data.contact[item].zone === "bac") { %>
        <h5 class="uppercase"><%= site.data.contact[item].name %></h5>
        <p>
            Địa chỉ: <%= site.data.contact[item].address %> <br>
            Phòng hành chính: <strong><%= site.data.contact[item].dthanhchinh %></strong> <br>
            Phòng kinh doanh: <strong><%= site.data.contact[item].dtkinhdoanh %></strong> <br>
            Fax: <strong><%= site.data.contact[item].fax %> <br></strong>
            Email: <strong><%= site.data.contact[item].email %></strong> <br>
        </p>
    <% } %>
<% } %>

<h3 class="uppercase">miền nam</h3>

<% for (var item in site.data.contact) { %>
    <% if (site.data.contact[item].zone === "nam") { %>
        <h5 class="uppercase"><%= site.data.contact[item].name %></h5>
        <p>
            Địa chỉ: <%= site.data.contact[item].address %> <br>
            Phòng hành chính: <strong><%= site.data.contact[item].dthanhchinh %></strong> <br>
            Phòng kinh doanh: <strong><%= site.data.contact[item].dtkinhdoanh %></strong> <br>
            Fax: <strong><%= site.data.contact[item].fax %> <br></strong>
            Email: <strong><%= site.data.contact[item].email %></strong> <br>
        </p>
    <% } %>
<% } %>

