/* ibm-plex-sans-500 - latin-ext_latin_vietnamese */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/ibm-plex-sans-v3-latin-ext_latin_vietnamese-500.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Sans Medium'), local('IBMPlexSans-Medium'),
       url('fonts/ibm-plex-sans-v3-latin-ext_latin_vietnamese-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/ibm-plex-sans-v3-latin-ext_latin_vietnamese-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/ibm-plex-sans-v3-latin-ext_latin_vietnamese-500.woff') format('woff'), /* Modern Browsers */
       url('fonts/ibm-plex-sans-v3-latin-ext_latin_vietnamese-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/ibm-plex-sans-v3-latin-ext_latin_vietnamese-500.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}

/* ibm-plex-sans-700 - latin-ext_latin_vietnamese */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/ibm-plex-sans-v3-latin-ext_latin_vietnamese-700.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Sans Bold'), local('IBMPlexSans-Bold'),
       url('fonts/ibm-plex-sans-v3-latin-ext_latin_vietnamese-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/ibm-plex-sans-v3-latin-ext_latin_vietnamese-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/ibm-plex-sans-v3-latin-ext_latin_vietnamese-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/ibm-plex-sans-v3-latin-ext_latin_vietnamese-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/ibm-plex-sans-v3-latin-ext_latin_vietnamese-700.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}

/* ibm-plex-serif-regular - latin-ext_latin_vietnamese */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/ibm-plex-serif-v4-latin-ext_latin_vietnamese-regular.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Serif'), local('IBMPlexSerif'),
       url('fonts/ibm-plex-serif-v4-latin-ext_latin_vietnamese-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/ibm-plex-serif-v4-latin-ext_latin_vietnamese-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/ibm-plex-serif-v4-latin-ext_latin_vietnamese-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/ibm-plex-serif-v4-latin-ext_latin_vietnamese-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/ibm-plex-serif-v4-latin-ext_latin_vietnamese-regular.svg#IBMPlexSerif') format('svg'); /* Legacy iOS */
}

/* ibm-plex-serif-italic - latin-ext_latin_vietnamese */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/ibm-plex-serif-v4-latin-ext_latin_vietnamese-italic.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Serif Italic'), local('IBMPlexSerif-Italic'),
       url('fonts/ibm-plex-serif-v4-latin-ext_latin_vietnamese-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/ibm-plex-serif-v4-latin-ext_latin_vietnamese-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/ibm-plex-serif-v4-latin-ext_latin_vietnamese-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/ibm-plex-serif-v4-latin-ext_latin_vietnamese-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/ibm-plex-serif-v4-latin-ext_latin_vietnamese-italic.svg#IBMPlexSerif') format('svg'); /* Legacy iOS */
}

/* ibm-plex-serif-600 - latin-ext_latin_vietnamese */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/ibm-plex-serif-v4-latin-ext_latin_vietnamese-600.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Serif SemiBold'), local('IBMPlexSerif-SemiBold'),
       url('fonts/ibm-plex-serif-v4-latin-ext_latin_vietnamese-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/ibm-plex-serif-v4-latin-ext_latin_vietnamese-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/ibm-plex-serif-v4-latin-ext_latin_vietnamese-600.woff') format('woff'), /* Modern Browsers */
       url('fonts/ibm-plex-serif-v4-latin-ext_latin_vietnamese-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/ibm-plex-serif-v4-latin-ext_latin_vietnamese-600.svg#IBMPlexSerif') format('svg'); /* Legacy iOS */
}

/* ibm-plex-serif-600italic - latin-ext_latin_vietnamese */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 600;
  src: url('fonts/ibm-plex-serif-v4-latin-ext_latin_vietnamese-600italic.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Serif SemiBold Italic'), local('IBMPlexSerif-SemiBoldItalic'),
       url('fonts/ibm-plex-serif-v4-latin-ext_latin_vietnamese-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/ibm-plex-serif-v4-latin-ext_latin_vietnamese-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/ibm-plex-serif-v4-latin-ext_latin_vietnamese-600italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/ibm-plex-serif-v4-latin-ext_latin_vietnamese-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/ibm-plex-serif-v4-latin-ext_latin_vietnamese-600italic.svg#IBMPlexSerif') format('svg'); /* Legacy iOS */
}
