<ul class="cb-slideshow">
    <li>
        <span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1543884761/samples/slideshowcu/nq6.jpg')">Image 01</span>
    </li>
    <li>
        <span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1543884755/samples/slideshowcu/in4.jpg')">Image 02</span>
    </li>
    <li>
        <span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1543884754/samples/slideshowcu/in3.jpg')">Image 03</span>
    </li>
    <li>
        <span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1543884761/samples/slideshowcu/nq6.jpg')">Image 04</span>
    </li>
    <li>
        <span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1543884761/samples/slideshowcu/nq6.jpg')">Image 05</span>
    </li>
    <li>
        <span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1543884761/samples/slideshowcu/nq6.jpg')">Image 06</span>
    </li>
</ul>