<ul class="cb-slideshow">
    <li>
    	<span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1544425536/samples/slideshowmoi/h4moi.jpg')">Image 01</span>
    </li>
    <li>
    	<span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1543884851/samples/slideshowmoi/inmoi2.jpg')">Image 02</span>
    </li>
    <li>
    	<span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1543304852/samples/hoithao2016/tt8.jpg')">Image 03</span>
    </li>
    <li>
    	<span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1543304451/samples/chaoco/cc1.jpg')">Image 04</span>
    </li>
    <li>
    	<span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1543304644/samples/tuthiennghean/nghean1.jpg')">Image 05</span>
    </li>
    <li>
    	<span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1543304414/samples/2016-09-15/anh3nq.jpg')">Image 06</span>
    </li>
</ul>