<ul class="cb-slideshow">
    <li>
    	<span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1543884761/samples/slideshowcu/nq6.jpg')">Image 01</span>
    </li>
    <li>
    	<span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1543884756/samples/slideshowcu/in1.jpg')">Image 02</span>
    </li>
    <li>
    	<span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1543884760/samples/slideshowcu/nq5.jpg')">Image 03</span>
    </li>
    <li>
    	<span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1543884760/samples/slideshowcu/nq4.jpg')">Image 04</span>
    </li>
    <li>
    	<span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1543884755/samples/slideshowcu/in2.jpg')">Image 05</span>
    </li>
    <li>
    	<span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1543884759/samples/slideshowcu/nq3.jpg')">Image 06</span>
    </li>
</ul>