<ul class="cb-slideshow">
    <li>
        <span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1543972678/samples/nendep2/nendep15.jpg')">Image 01</span>
    </li>
    <li>
        <span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1547172451/samples/nendep2/nendep30.jpg')">Image 02</span>

        <span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1547172610/samples/nendep2/nendep30.jpg')">Image 02</span>
    </li>
    <li>
        <span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1543972677/samples/nendep2/nendep20.jpg')">Image 03</span>
    </li>
    <li>
        <span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1543972678/samples/nendep2/nendep15.jpg')">Image 04</span>
    </li>
    <li>
        <span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1543972677/samples/nendep2/nendep20.jpg')">Image 05</span>
    </li>

   
</ul>