<ul class="cb-slideshow">
    <li>
    	<span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1543995602/samples/slideshowmoi/h0moi.jpg')">Image 01</span>
    	<div><h3 class="uppercase">đồng hành</h3></div>
    </li>
    <li>
    	<span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1543916626/samples/nendep/nendep2.jpg')">Image 02</span>
    	<div><h3 class="uppercase">cùng hệ thống</h3></div>
    </li>
    <li>
    	<span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1610938192/samples/slide2021/green-background.jpg')">Image 03</span>
    	<div><h3 class="uppercase">tài chính - ngân hàng</h3></div>
    </li>
    <li>
    	<span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1610419269/samples/slide2021/nq21.jpg')">Image 04</span>
    	<div><h3 class="uppercase">dịch vụ ngân quỹ</h3></div>
    </li>
    <li>
    	<span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1610418668/samples/slide2021/in3_21.jpg')">Image 05</span>
    	<div><h3 class="uppercase">dịch vụ in ấn</h3></div>
    </li>
    <li>
    	<span style="background-image: url('https://res.cloudinary.com/dich-vu-agribank/image/upload/v1610421020/samples/slide2021/qc5.jpg')">Image 06</span>
    	<div><h3 class="uppercase">dịch vụ quảng cáo</h3></div>
    </li>
</ul>