<section>
	<div class="container">
		
		<p class="content_top">Được thành lập từ những năm 2006, Dịch vụ Quảng cáo luôn bám sát mục tiêu xây dựng và quảng bá sản phẩm của Công ty Dịch vụ Agribank, và luôn đồng hành cùng Ban thông tin tiếp thị truyền thông của Trụ sở chính Agribank và hiện thực hóa ý tưởng xây dựng thương hiệu của Agribank. Bằng kinh nghiệm tích luỹ được sau nhiều năm hoạt động trong lĩnh vực Quảng cáo, từ những năm 2008 Dịch vụ quảng cáo là đối tác tin cậy lâu dài của nhiều doanh nghiệp như: (Sanyo, Fujitsu, Caltex, Mitsubishi Pencil Việt Nam.,Ltd…). Hiện nay Dịch vụ quảng cáo cũng là đối tác tin cậy của nhiều Chi nhánh trong hệ thống Agrribank.</p>

		<div class="content_group">

			<div class="content_item content_left">
				<%- page.content %>
			</div>

			<div class="content_item content_right">
				<%- partial('_partial/sidebar_sadv') %>
			</div>

		</div>
	</div>
</section>

<%- partial('_partial/image_adv') %>

<%- partial('_partial/module_svr') %>

