<section>
	<div class="container">
		<p class="content_top">Đóng vai trò là đơn vị tiên phong khai thác dịch vụ ngân quỹ, hoạt động của hai Trung tâm Dịch vụ ngân quỹ của Công ty đã góp phần nâng cao hiệu quả quản lý, sử dụng vốn của hệ thống NHNo&PTNT Việt Nam tại hai thành phố lớn là Hà Nội và Thành phố Hồ Chí Minh. Hiện nay, Công ty là đơn vị duy nhất cung cấp dịch vụ ngân quỹ một cách độc lập và đủ năng lực phục vụ toàn bộ các chi nhánh trong hệ thống Agribank cũng như các khách hàng khác ngoài hệ thống. Hai trung tâm ngân quỹ của Công ty đang đảm bảo quỹ cho hoạt động của 220 điểm giao dịch và chi nhánh cấp I, tiếp quỹ cho 196 máy ATM (tính đến 6/2013)</p>
		<div class="content_group">

			<div class="content_item content_left">
				<%- page.content %>
			</div>

			<div class="content_item content_right">
				<%- partial('_partial/sidebar_smny') %>
			</div>

		</div>
	</div>
</section>

<%- partial('_partial/image_mny') %>

<%- partial('_partial/module_svr') %>

