<section>
	<div class="container">
		<p class="content_top">Nhà In Ngân hàng I tại Hà Nội và Nhà in Ngân hàng II tại TP. Hồ Chí Minh. Hai nhà in có bề dày hoạt động gần 70 năm, với gần 200 CBCN viên gồm hơn 100 công nhân in bậc cao, trong đó trên 60% là công nhân in có tay nghề 7/7. Đội ngũ cán bộ quản lý có trình độ, năng lực và kinh nghiệm lâu năm trong nghề. Với hệ thống dây chuyền máy móc thiết bị hiện đại, các thiết bị in offset và Flexo từ 2 - 6 màu, thiết bị in số và các thiết bị hoàn thiện sau in của những hàng nổi tiếng trên thế giới như Manroland, Heidelberg (Công hòa LB Đức), Comco (USA). Hệ thống quản lý chất lượng ISO 9001-2000.</p>
		
		<div class="content_group">

			<div class="content_item content_left">
				<%- page.content %>
			</div>

			<div class="content_item content_right">
				<%- partial('_partial/sidebar_sprt') %>
			</div>

		</div>
	</div>
</section>

<%- partial('_partial/image_prt') %>

<%- partial('_partial/module_svr') %>

