<div class="container home_intro">
	<p>Công ty TNHH Một thành viên Dịch vụ Ngân hàng Nông nghiệp Việt Nam<i> (gọi tắt là Công ty Dịch vụ Agribank)</i> là doanh nghiệp trực thuộc Ngân hàng Nông nghiệp và Phát triển Nông thôn Việt Nam, gồm 4 đơn vị thành viên, hoạt động đa ngành nghề, tham gia các lĩnh vực in ấn, dịch vụ ngân quỹ và các hoạt động thương mại.</p><br>

	<%- partial('_partial/menus/menu_secondary') %>
</div>