<div class="p3">
<% site.categories.findOne({name: 'hoạt động nội bộ'}).posts.sort('date', -1).limit(6).each(function(post) { %> 
	<div class="p3_item">
		<a href="<%- url_for(post.path) %>">
			<% if (post.preview) { %>
				<div class="preview_img">
					<div class="preview_inner">
						<img src="<%- post.preview %>" alt="">
					</div>
				</div>
			<% } else { %>
				<div class="preview_img">
					<div class="preview_inner">
						<img src="https://picsum.photos/500/400?random" alt="">
					</div>
				</div>
			<% } %>
			<h3><%= post.title %></h3>
		</a>
	</div>
<% })%>
</div>