<h3>lịch sử phát triển</h3>


<h4 class="bigtitle">1945</h4>

<p>Tiền thân là cơ quan ấn loát của Bộ Tài chính được thành lập ngày 15/11/1945. Cơ sở vật chất là nhà in Tôpanh (Taupin), chủ là người Pháp được Chính phủ mua lại. Địa điểm nơi nhà in Tôpanh đóng sau này là cửa hàng Bách hóa số 5 Nam Bộ.</p>

<p>Nhiệm vụ chủ yếu là in ấn các loại giấy bạc, tài liệu, sổ sách cho Bộ Tài chính.</p>

<p>Trong những năm từ 1945 đến 1951 in các loại giấy bạc tài chính mệnh giá từ 1 đồng, 5 đồng, 10 đồng, 20 đồng 50 đồng và sau đó là 100 đồng.</p>

<h4 class="bigtitle">1951</h4>

<p>Đến tháng 6/1951 Chính phủ có sắc lệnh số 15/SL thành lập Ngân hàng Quốc gia Việt Nam, quyết định thay giấy bạc tài chính bằng giấy bạc Ngân hàng. Việc in và phát hành giấy bạc Ngân hàng do Ngân hàng Quốc gia đảm trách. Nhà máy được chuyển về Ngân hàng Nhà nước lấy tên là Nhà in Ngân hàng.</p>

<p>Từ đây nhà máy đảm nhận in giấy bạc, giấy tờ có giá phục vụ cho Nhà nước như các loại tem phiếu thời kỳ bao cấp: Phiếu gạo, thực phẩm, trái phiếu, kỳ phiếu, cổ phiếu, hóa đơn.</p>

<h4 class="bigtitle">1975</h4>

<p>Đến năm 1975 sau giải phóng Miền Nam Nhà nước thành lập Nhà in Ngân hàng 2. Nhà máy đổi tên thành Nhà in Ngân hàng 1</p>

<h4 class="bigtitle">2001</h4>

<p>Đến năm 2001 hai nhà in chuyển về Ngân hàng Nông nghiệp và Phát triển Nông thôn Việt Nam</p>

<h4 class="bigtitle">2004</h4>

<p>Tháng 4/2004 Ngân hàng Nông nghiệp thành lập Công ty In Đầu tư Thương mại Dịch vụ Ngân hàng trên cơ sở sáp nhập 3 đơn vị là Nhà in Ngân hàng 1, Nhà in Ngân hàng 2 và Công ty In Thương mại và Dịch vụ Ngân hàng</p>

<h4 class="bigtitle">2005</h4>

<p>Năm 2005 thành lập Trung tâm Dịch vụ Ngân quỹ.</p>

<h4 class="bigtitle">2006</h4>

<p>2006 thành lập Trung tâm Dịch vụ Ngân quỹ miền nam</p>

<h4 class="bigtitle">2011</h4>

<p>Đến tháng 4/2011 đổi tên thành Công ty TNHH Một thành viên Dịch vụ Ngân hàng Nông nghiệp Việt Nam (gọi tắt là: Công ty Dịch vụ Agribank)</p>