<h3>thông tin chung</h3>

<p>Công ty TNHH Một thành viên Dịch vụ Ngân hàng Nông nghiệp Việt Nam được thành lập theo Quyết định số 43/QĐ/HĐQT - TCCB ngày 29/01/2004 của Ngân hàng Nông nghiệp và Phát triển Nông thôn Việt Nam (Agribank)</p>

<p>Tên giao dịch tiếng việt đầy đủ: <br>
<strong>Công ty TNHH Một thành viên Dịch vụ Ngân hàng Nông nghiệp Việt Nam</strong></p>

<p>Tên giao dịch tiếng Việt viết tắt: <br>
<strong>Công ty Dịch vụ Agribank</strong></p>

<p>Tên giao dịch tiếng Anh đầy đủ: <br>
Agribank Banking Services Company Limited.</p>

<p>Tên giao dịch tiếng Anh viết tắt: <strong>ASC.,LTD</strong></p>

<p>Trụ sở chính: Số 10, phố Chùa Bộc, phường Quang Trung, quận Đống Đa, TP. Hà Nội</p>

<p>Điện thoại: <strong>024 3572 9457</strong> - Fax: <strong>024 3573 6640</strong></p>

<p>Chủ tịch Công ty : <strong>Ông Trần Duy Hưng</strong></p>

<h3>giới thiệu công ty dịch vụ agribank</h3>

<p>Công ty TNHH Một thành viên Dịch vụ Ngân hàng Nông nghiệp Việt Nam (gọi tắt là Công ty Dịch vụ Agribank). Tiền thân là Công ty In Thương mại và Dịch vụ Ngân hàng, là doanh nghiệp trực thuộc Ngân hàng Nông nghiệp và Phát triển Nông thôn Việt Nam. Được thành lập trên cơ sở sáp nhập 03 đơn vị là Nhà in Ngân hàng I, Nhà in Ngân hàng II và Công ty Đầu tư Thương mại Dịch vụ Ngân hàng. Qua hơn 10 năm ổn định và phát triển, hiện nay Công ty Dịch vụ Agribank gồm 4 đơn vị thành viên có hoạt động đa ngành nghề, tham gia các lĩnh vực in ấn, dịch vụ ngân quỹ, và các hoạt động thương mại.</p>

<p>Với số vốn điều lệ ban đầu là 135,8 tỷ đồng, trải qua quá trình hơn 10 năm hoạt động được nhiều lần phê duyệt điều chỉnh tăng vốn, hiện nay vốn điều lệ của Công ty là 350 tỷ đồng.</p>

<h3>mục tiêu và tiêu chí hoạt động</h3>

<p>Tập trung phát triển kinh doanh để trở thành một trong những doanh nghiệp hàng đầu cung cấp các dịch vụ phục vụ hoạt động của hệ thống tài chính ngân hàng.</p>