<img src="https://res.cloudinary.com/dich-vu-agribank/image/upload/v1638783388/samples/2020/logo/logocongty5.png">

<h3>thư ngỏ</h3>

<p>Kính gửi Quý khách hàng,</p>

<p>Lời đầu tiên, thay mặt Công ty Dịch vụ Agribank, chúng tôi xin gửi tới Quý khách hàng lời chào trân trọng cùng lời chúc sức khỏe, hạnh phúc và thành công.</p>

<p>Công ty Dịch vụ Agribank trước đây là Cơ quan ấn loát của Bộ Tài Chính, được thành lập từ năm 1945, hiện nay có trụ sở tại số 10 Phố Chùa Bộc, Quận Đống Đa, TP. Hà Nội.</p>

<p>Công ty Dịch vụ Agribank là doanh nghiệp 100% vốn nhà nước trực thuộc Ngân hàng Nông nghiệp và Phát triển Nông thôn Việt Nam (Agribank). Trải qua 77 năm từ khi thành lập, Công ty Dịch vụ Agribank luôn xác định sứ mệnh thực hiện nhiệm vụ chính trị, hoạt động kinh doanh đa ngành nghề, trong đó tập trung cho lĩnh vực chính phục vụ cho ngành ngân hàng: In chứng chỉ, ấn chỉ với độ bảo mật cao, in thương mại, dịch vụ ngân quỹ, cho thuê két sắt, vận chuyển tiền, ngoại tệ, kim loại quý, đá quý, tài sản có giá, dịch vụ bảo vệ ...</p>

<p>Với đội ngũ cán bộ, công nhân viên có nhiều kinh nghiệm, trình độ chuyên môn, hơn 50 xe ô tô chuyên dùng cùng sự hỗ trợ, kết hợp với lực lượng cảnh sát bảo vệ có vũ trang và đặc biệt trong những năm qua, Công ty Dịch vụ Agribank đã vận chuyển nhiều chuyến xe phục vụ cho dịch vụ ngân quỹ, tiếp quỹ, ATM hiệu quả, an toàn.</p>

<p>Hệ thống kho, két sắt được xây dựng và lắp đặt đúng tiêu chuẩn quốc gia theo quy định của Ngân hàng Nhà nước, bố trí bảo vệ 4 lớp cùng với lực lượng cảnh sát, bảo vệ chuyên nghiệp được trang bị vũ khí, công cụ hỗ trợ và các thiết bị camera, báo động, phòng cháy, chữa cháy hiện đại.</p>

<p>Trong lĩnh vực in ấn với dây chuyền máy móc có công nghệ hiện đại, đa năng, chuyên sâu cho lĩnh vực in có độ bảo mật cao để phục vụ nhiệm vụ chính trị của Nhà nước và Quý khách hàng. Công ty Dịch vụ Agribank đã khẳng định được vị thế trên thị trường trong các lĩnh vực dịch vụ - thương mại, đặc biệt là in ấn, dịch vụ ngân quỹ, cho thuê két sắt và vận chuyển tiền, tài sản có giá trị cao.</p>

<p>Là công ty chuyên sâu đầu tiên và duy nhất tại Việt Nam trong lĩnh vực dịch vụ, phục vụ cho hoạt động kinh doanh của ngành ngân hàng và thương mại. Các sản phẩm, dịch vụ do công ty cung cấp đều được chuẩn hóa và có tính bảo mật, an toàn, chính xác rất cao. Với vị thế, uy tín và tầm nhìn mới, thời gian tới, Công ty dịch vụ Agribank cam kết cung cấp những sản phẩm, dịch vụ chất lượng với giá cả cạnh tranh và chính sách chăm sóc phục vụ tốt nhất tới Quý khách hàng.</p>

<p><i>Công ty Dịch vụ Agribank xin trân trọng cảm ơn Quý khách hàng.</i></p>

<p>Chủ tịch Công ty</p>

<h3>TRẦN DUY HƯNG<h3>
