<section>
	<div class="container">



		<div class="post_top">
			<%- link_to("/tonghop/", "tin tức tổng hợp") %>
		</div>




		<div class="p3 archive_list">
		<% page.posts.each(function(post){ %>
			<div class="p3_item">
				<a href="<%- url_for(post.path) %>">
					<% if (post.preview) { %>
						<div class="preview_img">
							<div class="preview_inner" style="background-image: url('<%- post.preview %>'); background-position: center;background-repeat: no-repeat; background-size: cover">
							</div>
						</div>
					<% } else { %>
						<div class="preview_img">
							<div class="preview_inner" style="background-image: url('https://source.unsplash.com/500x300/?money'); background-position: center;background-repeat: no-repeat; background-size: cover">
							</div>
						</div>
					<% } %>
					<h3>
						<p class="acv_date"><time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, 'DD/MM/YYYY') %></time></p>
						<%= post.title %>
					</h3>
				</a>
			</div>


		<% }) %>

		</div>


		<% if (page.total > 1){ %>
			<nav id="page-nav">
				<% var prev_text = "trước";var next_text = "tiếp"%>
				<%- paginator({
				prev_text: prev_text,
				next_text: next_text
				}) %>
			</nav>
		<% } %>

	</div>
</section>

<%# section orange %>
<%- partial('_partial/module_gallery') %>