<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

<section class="bg_do">
    <div class="container ct_group1">
        <% for (var item in site.data.contact) { %>
            <% if (site.data.contact[item].group === "g1") { %>
            <div class="ctgroup1_item">
                <h3 class="uppercase"><%= site.data.contact[item].name %></h3>
                <p>
                    <i class="fas fa-map-marker-alt" aria-hidden="true"></i> <%= site.data.contact[item].address %> <br>
                    <i class="fas fa-phone-square" aria-hidden="true"></i> <strong><%= site.data.contact[item].phone %></strong> <br>
                    <i class="fas fa-fax" aria-hidden="true"></i> <strong><%= site.data.contact[item].fax %> <br></strong>
                    <i class="fas fa-envelope" aria-hidden="true"></i> <strong><%= site.data.contact[item].email %></strong> <br>
                </p>
            </div>
            <% } %>
        <% } %>
    </div>

    <div class="container ct_group2">
        <% for (var item in site.data.contact) { %>
            <% if (site.data.contact[item].group === "g2") { %>
            <div class="ctgroup2_item">
                <h3 class="uppercase"><%= site.data.contact[item].name %></h3>
                <p>
                    <i class="fas fa-map-marker-alt" aria-hidden="true"></i> <%= site.data.contact[item].address %> <br>
                    <i class="fas fa-phone-square" aria-hidden="true"></i> <strong><%= site.data.contact[item].phone %></strong> <br>
                    <i class="fas fa-fax" aria-hidden="true"></i> <strong><%= site.data.contact[item].fax %></strong> <br>
                    <i class="fas fa-envelope" aria-hidden="true"></i> <strong><%= site.data.contact[item].email %></strong> <br>
                </p>
            </div>
            <% } %>
        <% } %>
    </div>
</section>

<%- partial('_partial/module_client') %>

<section class="mapgroup">
    <div class="container mapbox">
        <div class="mbac">
            <h3 class="uppercase">địa chỉ miền bắc</h3><br>
            <div id="map" style="height: 420px;">map1</div>
        </div>
        <div class="mnam">
            <h3 class="uppercase">địa chỉ miền nam</h3><br>
            <div id="map2" style="height: 420px;">map2</div>
        </div>
    </div>
</section>


<%- partial('_partial/module_svr') %>

<script>
    var map = L.map('map', {
    scrollWheelZoom: false
    }).setView([21.007, 105.828], 14);


    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    L.marker([21.00792, 105.8288]).addTo(map)
    .bindPopup('<strong>Công ty TNHH MTV Dịch vụ Agribank</strong><br>Số 10 Chùa Bộc, Đống Đa, Hà Nội')
    .openPopup();

    var map2 = L.map('map2', {
    scrollWheelZoom: false
    }).setView([10.756318, 106.683789], 14);


    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map2);

    L.marker([10.756318, 106.683789]).addTo(map2)
    .bindPopup('<strong>Công ty TNHH MTV Dịch vụ Agribank</strong><br>Số 422 Trần Hưng Đạo, Quận 5, TP. Hồ Chí Minh')
    .openPopup();



</script>


