<% site.posts.each(function(post) { %> 
	<% if (post.sticky) { %>	
		<section class="sticky_post">
			<div class="container">
					
			<div class="sticky_item">
				<h2 class="sticky_header">tin nổi bật</h2>
				<% for (var item in post.sticky) { %>
					<div class="sticky_image"><img src="<%- post.sticky[item].image %>"></div>
					<p class="sticky_description"><%- post.sticky[item].desc %></p>
				<% } %>
				<a href="<%- url_for(post.path) %>">xem chi tiết</a>
			</div>

			</div>
		</section>
	<% } %>
<% }) %>

<section class="bg_do" id="content_start">
	<div class="container home_list">
		<h2 class="section_title uppercase">tin mới nhất</h2>
		
		<%# list 3 ông mới nhất %>
		<div class="p3">
		<% site.categories.findOne({name: 'hoạt động nội bộ'}).posts.sort('date', -1).limit(3).each(function(post) { %> 
			<div class="p3_item">
				<a href="<%- url_for(post.path) %>">
					<%# nếu có định nghĩa preview trong bài thì lấy liên kết đó làm hình đại diện %>
					<% if (post.preview) { %>
						<div class="preview_img">
							<div class="preview_inner">
								<img src="<%- post.preview %>" alt="">
							</div>
						</div>
					<% } else { %>
					<%# nếu không có thì lấy tạm hình bất kỳ trên picsum %>
						<div class="preview_img">
							<div class="preview_inner">
								<img src="https://picsum.photos/500/400?random" alt="">
							</div>
						</div>
					<% } %>
					<%# tiêu đề của bài viết %>
					<h3 class="card_title"><%= post.title %></h3>
				</a>
			</div>
		<% })%>
		</div>
		<br>
		<%# và liên kết tới trang tổng hợp tin tức %>
		<p style="text-align: center;">
			<%- link_to("/tonghop/", "xem các tin khác...", {class:"btn_hollow_big"}) %>
		</p>
	</div>
</section>

<%# modul dịch vụ %>
<%- partial('_partial/module_svr') %>

<%- partial('_partial/module_client') %>


