<%- partial('_partial/head') %>
<body id="sitetop">
<header id="site_header" <% if (is_home() || page.slideshow) { %>class="hfull"<% } %> >


	<div class="headertop">
		<div class="container menugrid">
			<div class="brand">
				<a href="/">
					<div class="logo"><img src="/css/dvagribanklogo.svg" alt=""></div>
					<!-- <h2 class="brandname uppercase">công ty dịch vụ<br>agribank</h2> -->
				</a>
			</div>
			<div class="navigator">
				<%- partial('_partial/menus/menu_primary') %>		
			</div>
		</div>
	</div>


	<% if (is_home()) { %>
		<%- partial('_partial/khuyenmai') %>
		<div class="slideshow">
			<%- partial('_partial/slideshow/header_ssh_home') %>
		</div>
	<% } else if (page.title === "services") { %>
		<div class="slideshow">
			<%- partial('_partial/slideshow/header_ssh_services') %>
		</div>
	<% } else if (page.title === "news") { %>
		<div class="slideshow">
			<%- partial('_partial/slideshow/header_ssh_news') %>
		</div>
	<% } else if (page.title === "intro") { %>
		<%- partial('_content/home_intro') %>		
		<div class="slideshow">
			<%- partial('_partial/slideshow/header_ssh_home') %>	
		</div>
	<% } else if (page.title === "contact") { %>
		<div class="slideshow">
			<%- partial('_partial/slideshow/header_ssh_contact') %>	
		</div>
	<% } else { %>
		<div class="slideshow">
			<%- partial('_partial/slideshow/header_ssh_default') %>
		</div>
	<% } %>

	<% if (is_home() || page.slideshow) { %>
		<div class="down_arrow">
			<h3 class="mshow uppercase">kéo xuống để xem nội dung</h3>
			<a href="#content_start"><i class="fas fa-chevron-circle-down fa-3x"></i></a>
		</div>
	<% } %>

</header>




<div id="site_main">
	<%- body %>
</div>



<footer id="site_footer">
	<div class="container footer_content">
		<div class="footer_menu">
			<div class="footer_panel panel_left">
			<h3>liên kết nội dung</h3>
			<%- partial('_partial/menus/menu_tertiary') %>	
			</div>

			<div class="footer_panel panel_right">
			<h3>liên kết website</h3>
			<%- partial('_partial/menus/menu_quarternary') %>
			</div>
		</div>

		<div class="footer_info">
			&copy;DVAGRIBANK.2018
		</div>
	</div>
	
</footer>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<%- js('js/lightbox.min','js/smooth-scroll.min','js/script') %>

</body>
</html>