<section class="bg_green news_list srv_page">
	<div class="container">

		<h2 class="section_title uppercase">hoạt động nội bộ</h2>

		<%- partial('_content/postlist_nb_group6') %>
		<br>
		<p style="text-align: center;">
			<%- link_to("/categories/hoat-dong-noi-bo/", "tin hoạt động nội bộ", {class:"btn_solid_big"}) %>
		</p>
	</div>
</section>


<section class="news_list">
	<div class="container">

		<h2 class="section_title uppercase">hoạt động ngành</h2>

		<%- partial('_content/postlist_nn_group3') %>
		<br>
		<p style="text-align: center;">
			<%- link_to("/categories/hoat-dong-nganh/", "tin hoạt động ngành", {class:"btn_solid_big"}) %>
		</p>
		
	</div>
</section>


<%# 
	modul gallery dự định trình bày hình ảnh
	thấy hơi thừa vì modul tin tức đã đủ đáp ứng yêu cầu
%>

<%- partial('_partial/module_gallery') %>
