<% if (page.title === "s_mny") { %>
	<%- partial('_content/dv_mny') %>
<% } else if (page.title === "s_prt") { %>
	<%- partial('_content/dv_prt') %>
<% } else if (page.title === "s_adv") { %>
	<%- partial('_content/dv_adv') %>
<% } else { %>

	<section>
		<div class="container">
			<%- page.content %>
		</div>
	</section>

<% } %>

<%# section lavender %>
<%- partial('_partial/module_client') %>

