<section class="bg_green">
	<div class="container">
		<div class="post_top">
			<%- link_to("/tonghop/", "tin tức") %>
			<i class="fa fa-angle-right"></i>
			<% if (page.categories && page.categories.length){ %>
			  <%- list_categories(page.categories, {
			    show_count: false,
			    class: 'post_cat',
			    style: 'none',
			    separator: ' '
			  }) %>
			<% } %>	
			
		</div>		
	</div>
</section>

<section class="bg_green">
	<div class="container">
		<div class="post_header">
		<h2 class="post_title"><%- page.title %></h2>
		<h3 class="post_date"><time class="post_time" datetime="<%= date_xml(page.date) %>" ><%= date(page.date, 'DD/MM/YYYY') %></time></h3>
		</div>
		<div class="post_content">
			<%- page.content %>
			<% if (page.tacgia) { %>
				<p class="tac-gia"><strong><%- page.tacgia %></strong></p>
			<% } %>
		</div>
		<div class="post_footer">
			<%= page.permalink %>
			<br>
			<!-- AddToAny BEGIN -->
			<div class="a2a_kit a2a_kit_size_32 a2a_default_style" id="share_btn_center">
			<a class="a2a_button_facebook"></a>
			<a class="a2a_button_twitter"></a>
			<a class="a2a_button_google_plus"></a>
			<a class="a2a_button_email"></a>
			<a class="a2a_button_print"></a>
			<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
			</div>
			<script async src="https://static.addtoany.com/menu/page.js"></script>
			<!-- AddToAny END -->
		</div>
	</div>
</section>

