
<section class="srv_page">
	<% for (var item in site.data.dichvu) { %>
		<div class="container srvgroup" style="background-image: url('<%= site.data.dichvu[item].image2 %>');background-repeat: no-repeat;background-size: cover;background-position: center;">
			<div class="srvgroup_item srv_left">
			    <h2 class="uppercase"><%= site.data.dichvu[item].name %></h2>
			    <p class="nrm_text"><%= site.data.dichvu[item].descshort %></p>
			    <a class="btn_solid_big" href="<%= site.data.dichvu[item].to %>">xem chi tiết</a>
		    </div>
		    <div class="srvgroup_item srv_right">
		    	
		    </div>
	    </div>
	<% } %>
</section>


<%- partial('_partial/module_client') %>
