<section id="content_start" class="bg_yellow" style="padding:3em 0;">
	<div class="container thungo" id="thungo">
		<%- partial('_content/ttc_thungo') %>
	</div>
</section>

<section id="lichsu">
	<div class="container lichsu">
		<div><%- partial('_content/ttc_gioithieu') %></div>
		<div><%- partial('_content/ttc_lichsu') %></div>
	</div>
</section>

<section id="mangluoi" class="bg_green">
	<div class="container mangluoi">
		<div><%- partial('_content/ttc_mangluoi') %></div>
		<div><%- partial('_content/ttc_mangluoi2') %></div>
	</div>
</section>

<div class="go-up"><a href="#sitetop"><i class="fas fa-arrow-circle-up"></i> về đầu trang</a></div>